body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 220, 240);
  font-family: 'Roboto', sans-serif; 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




